@model CoppelWeb.Models.Denuncium;
<style>
    body {
        background-image: url("https://img.freepik.com/premium-vector/hexagonal-technology-background_23-2148456898.jpg");
        background-size: cover;
    }

    h1 {
        text-align: center;
        background-color: rgba(255, 255, 0, .6);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 0;
        width: 100%;
    }
    button {
        width: calc(100% - 100px);
        margin: 10px 50px;
        background-color: darkred;
        color: white;
        border: 1px solid black;
        font-size: 30px;
    }

        button:hover {
            background-color: lightcoral;
            cursor: pointer;
        }
</style>
<h1>Reporte generado existosamente con el folio: @Model.Folio</h1>
<a href="~/denuncia/index">
    <button>Volver al menu</button>
</a>